.apppage{
  max-width : 100% !important;
  height: auto;
  display: inline-block;
  position : relative ;
  margin : 0 auto 0 auto ;
}

.herobtn{
  background-color: green ;
  padding : 10px ;
  border-radius: 5px ;
  display : block ;
  font-size: 20px ;
  cursor: pointer ;
  border : none ;
  color : #fff ;
  margin : 5px ;
}
.Pagesection{
  display : block ;
  width : 100% ;
  padding:5px ;
  height : auto ;
}
.hero {
  display: block ;
  position : relative ;
  height: 600px ;
  width : 100% ;
  background-image: url('https://plus.unsplash.com/premium_photo-1664475811964-75af7d90ee4b?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-repeat: none;
  background-position: center ;
  background-size: cover ;
  border : 1px solid transparent;

}
.herotextbox{
  display: block ;
  width : 45% ;
  height: 90% ;
  margin-left: 20px ;
  margin-top : 20px ;
  display : block;
  padding : 5px;
}
.herotextbox h1 , .herotextbox p{
  padding : 20px;
}
.heroimagebox{
  display: block ;
  width : 45% ;
  height: 80% ;
  display: block ;
  position : absolute ;
  right : 20px ;
  top : 20px ;
}
.innerinfobox{
  margin : 5% auto ;
  padding : 5px ;
  display: block ;
}
.innerinfobox h1{ 
  display: block ;
}
.Pagesection{
  display : block ;
  height:  auto ;
  width: 100% ;
  padding : 2px ;
  border:1ps solid red ;
}

.serviceconbox{
  width : 75% !important ;
  height: auto ;
  margin: 0 auto 0 auto ;
}
.servicecards{
  display : block ;
  width : 320px ;
  height: 350px ;
  padding : 5px ;
  margin-left: 5px ;
  margin-right: 5px ;
  border-radius: 5px ;
  background-color: rgb(255, 255, 255);
}
.serviceiconbox{
  width : 80px ;
  height : 80px ;
  display : block;
  margin : 2px ;
}

.aboutbox{
  width: 100% ;
  height: auto ;
}
.imgaboutbox{
  display : block ;
  width : 100% ;
  height: 100% ;
}
.abouinfobox{
  height: auto ;
  padding : 3px ;
  /* border : 1px solid #000; */
}

.serviceconprovbox{
  display: block ;
  width : 90% ;
  height : auto ;
  padding : 5px ;
  margin : 10px auto 0 auto ;
}
.serviceprovcards{
  width : 100% ;
  height: auto ;
  padding : 5px;
  /* border : 1px solid #000; */
  border-radius: 5px ;
}

.serviceproviconbox{
  width : 40px ;
  height: 40px ;
  display : block ;
}
.marketimgbox{
  width :100%;
  height : 400px ;
  display: block ;
}
.marketimgbox img{
  width: 100% ;
  height: 100%;
  object-fit: cover ;
  object-position: center ;
}
.imgaboutbox img{
  width : 100% ;
  height: 100% ;
  object-fit: cover ;
  object-position: center ;
}
@media screen and (max-width : 650px ){
  .heroimagebox{
    display : none ; 
    border : none ;
  }
  .herotextbox{
    width: 95%;
    display: block ;
    margin : 10px ;
    height: 90% ;
  }
  .serviceconbox{
    width: 95% !important ;
  }

  .aboutbox{
    display: grid ;
    grid-column: 1 ;
  }
  .serviceconprovbox{
    display: block !important;
  }
}